<div class="tab-pane fade {% if not ecu_dump.modified %}active{% endif %} in" id="{{ ecu_dump.pk }}">
  <div class="panel panel-{% if not ecu_dump.modified %}primary{% else %}success{% endif %}">
    <div class="panel-heading">{{ ecu_dump }}</div>
    <div class="panel-body">
      <p class="col-sm-2">Car</p>
      <p class="col-sm-10">{{ ecu_dump.ecu }}</p>
      <p class="col-sm-2">File uploaded at</p>
      <p class="col-sm-10">{{ ecu_dump.date }}</p>
      <p class="col-sm-2">File status</p>
      <p class="col-sm-10 text-{% if not ecu_dump.modified %}primary{% else %}success{% endif %}">{% if not ecu_dump.modified %}ORIGINAL{% else %}MODIFIED{% endif %}</p>
      {% if ecu_dump.modified %}
        <p class="col-sm-2">Messages</p>
        <p class="col-sm-10 ">
          {% for message in ecu_dump.message_list %}
            <span class="label label-success">{{ message }}</span><br>
          {% endfor %}
        </p>
      {% endif %}
      <p class="col-sm-2">Software Version</p>
      <p class="col-sm-10">{{ ecu_dump.sw.name }}</p>
      <p class="col-sm-12">
        {% if ecu_dump.modified %}
          <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#modal-{{ ecu_dump.pk }}">DOWNLOAD
          </button>
          {% include 'accounts/_ecudump_modified_download_modal.html' %}
        {% else %}
          <a class="btn btn-primary" href="{% url 'download-ecu-mod' ecu_dump.pk %}">DOWNLOAD</a>
          <a class="btn btn-success" href="{% url 'modify-ecu-dump' ecu_dump.pk %}">MODIFY</a>
        {% endif %}
      </p>
    </div>
  </div>
</div>
