<div class="modal fade" id="modal-{{ ecu_dump.pk }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Download modified file</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">Please make completely sure you read all messages
          below!!!
        </div>
        <ul class="list-group">
          {% for message in ecu_dump.message_list %}
            <li class="list-group-item">
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="{% url 'download-ecu-mod' ecu_dump.pk %}">DOWNLOAD</a>
      </div>
    </div>
  </div>
</div>
