{% extends "base.html" %}
{% block main %}
  <ul class="breadcrumb">
    <li class="active">File List</li>
  </ul>
  {% for ecu_dump in object_list %}
    <div class="row bottom-buffer-5">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li class="active"><a href="#{{ ecu_dump.pk }}" data-toggle="tab">{{ ecu_dump.name }}</a></li>
          {% for modified_ecu_dump in ecu_dump.ecudump_set.all %}
            <li><a href="#{{ modified_ecu_dump.pk }}" data-toggle="tab">{{ modified_ecu_dump.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myTabContent" class="tab-content">
          {% include 'accounts/_ecudump_panel.htm' %}
          {% for ecu_dump in ecu_dump.ecudump_set.all %}
            {% include 'accounts/_ecudump_panel.htm' %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
