{% if messages %}
  <div class="container">
    {% for message in messages %}
      <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        {{ message|linebreaksbr }}
      </div>
    {% endfor %}
  </div>
{% endif %}
