<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Cars</a></li>
        <li><a href="http://ori.as-ecu.tk/">Ori</a></li>
        <li><a href="{% url 'file-list' %}">Mods</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'org-ecu-list' %}">ORI Files</a></li>
          {% if user.is_superuser %}
            <li><a href="{% url 'org-ecu-dump-upload' %}">ORI Upload</a></li>
            <li><a href="{% url 'script-dump' %}">Scripts backup</a></li>
          {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}?next=/">LOGOUT</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">LOGIN</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
