{% extends "base.html" %}
{% block main %}
  <ul class="breadcrumb">
    <li class="active">Brands</li>
  </ul>
  <h1>Brands</h1>
  <div class="btn-group-vertical">
    {% for brand in object_list %}
      <a class="btn btn-default" href="{% url 'chassis-list' brand %}">{{ brand }}</a>
    {% empty %}
      <p class="lead">No Brands yet.</p>
    {% endfor %}
  </div>


{% endblock %}
