{% extends "base.html" %}
{% block main %}
  <ul class="breadcrumb">
    <li><a href="{% url 'brand-list' %}">Brands</a></li>
    <li class="active">Chassis</li>
  </ul>
  <h1>Chassis</h1>
  <div class="btn-group-vertical">
    {% for chassis in object_list %}
      <a class="btn btn-default" href="{% url 'car-model-list' chassis.brand.name chassis.name %}">{{ chassis }}</a>
    {% empty %}
      <p class="lead">No chassis yet.</p>
    {% endfor %}
  </div>
{% endblock %}
