{% extends "base.html" %}
{% block main %}
  <ul class="breadcrumb">
    <li><a href="{% url 'brand-list' %}">Brands</a></li>
    <li><a href="{% url 'chassis-list' object_list.0.engine.chassis.brand.name %}">Chassis</a></li>
    <li><a href="{% url 'car-model-list' object_list.0.engine.chassis.brand.name object_list.0.engine.chassis.name%}">Engine</a></li>
    <li class="active">ECU</li>
  </ul>
  <h1>ECU</h1>
  <div class="btn-group-vertical">
    {% for ecu in object_list %}
      {% if ecu.validationscript %}
        <a class="btn btn-default"
           href="{% url 'ecu-dump-form' ecu.engine.chassis.brand.name ecu.engine.chassis.name ecu.engine.name ecu.name %}">{{ ecu }}</a>
      {% endif %}
    {% empty %}
      <p class="lead">No Ecus yet.</p>
    {% endfor %}
  </div>
{% endblock %}
