{% extends "base.html" %}
{% block main %}

  <ul class="breadcrumb">
    <li><a href="{% url 'brand-list' %}">Brands</a></li>
    <li><a href="{% url 'chassis-list' ecu.engine.chassis.brand.name %}">Chassis</a></li>
    <li><a href="{% url 'car-model-list' ecu.engine.chassis.brand.name ecu.engine.chassis.name%}">Engine</a></li>
    <li><a href="{% url 'ecu-list' ecu.engine.chassis.brand.name ecu.engine.chassis.name ecu.engine.name %}">Ecu</a></li>
    <li class="active">Upload</li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">Please upload an Ecu dump file</div>
    <div class="panel-body">
      {% load crispy_forms_tags %}
      {% crispy form %}
    </div>
  </div>


{% endblock %}
