{% extends "base.html" %}
{% block main %}
  <ul class="breadcrumb">
    <li><a href="{% url 'brand-list' %}">Brands</a></li>
    <li><a href="{% url 'chassis-list' object_list.0.chassis.brand.name %}">Chassis</a></li>
    <li class="active">Engine</li>
  </ul>
  <h1>Engine</h1>
  <div class="btn-group-vertical">
    {% for engine in object_list %}
      <a class="btn btn-default"
         href="{% url 'ecu-list' engine.chassis.brand.name engine.chassis.name engine.name %}">{{ engine }}</a>

    {% empty %}
      <p class="lead">No Car Models yet.</p>
    {% endfor %}
  </div>
{% endblock %}

