{% extends "base.html" %}
{% block main %}
  <h1>{{ object.name }}</h1>
  <form action="{% url 'modification-upload' object.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
    <p>
      {{ form.file.errors }}
      {{ form.file }}
    </p>
    <p><input type="submit" value="Upload"/></p>
  </form>
  <pre>{{ object.script }}</pre>
{% endblock %}
