{% extends "base.html" %}
{% block main %}
  <h1>Modification</h1>
  <ul>
    <li>
      {% for script in object_list %}
        <form action="{% url 'modification-upload' ecu.engine.chassis.brand.name ecu.engine.chassis.name ecu.engine.name ecu.name ecu.id script.id %}" method="post" enctype="multipart/form-data">
          <h2>{{ script.modification }}</h2>
          {% csrf_token %}
          <p>{{ form.non_field_errors }}</p>
          <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
          <p>
            {{ form.file.errors }}
            {{ form.file }}
          </p>
          <p>{{ form.name.label_tag }} {{ form.name.help_text }}</p>
          <p>
            {{ form.name.errors }}
            {{ form.name }}
          </p>
          <input type="hidden" name="ecu" value="{{ ecu }}" id="id_ecu"/>
          <p><input type="submit" value="Upload"/></p>
        </form>
        </li>
      {% empty %}
        <li>No Modification yet.</li>
      {% endfor %}
  </ul>
{% endblock %}
