{% extends "base.html" %}
{% block main %}

  <ul class="breadcrumb">
    <li class="active">Upload</li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">Please upload an original Ecu dump file</div>
    <div class="panel-body">
      {% load crispy_forms_tags %}
      {% crispy form %}
    </div>
  </div>

{% endblock %}
