{% extends "base.html" %}
{% block main %}

  <ul class="breadcrumb">
    <li class="active">ORI Files</li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">Search</div>
    <div class="panel-body">
      {% load crispy_forms_tags %}
      {% crispy form %}
    </div>
  </div>

  <table class="table table-striped table-hover ">

    <thead>
      <tr>
        <th>BRAND</th>
        <th>CHASSIS</th>
        <th>ENGINE</th>
        <th>ECU</th>
        <th>HW</th>
        <th>SW</th>
        <th>SIZE</th>
        <th>ACTIONS</th>
      </tr>
    </thead>

    <tbody>

      {% for org in orgs %}
        <tr>
          <td>{{ org.ecu.engine.chassis.brand.name }}</td>
          <td>{{ org.ecu.engine.chassis.name }}</td>
          <td>{{ org.ecu.engine.name }}</td>
          <td>{{ org.ecu.name }}</td>
          <td>{{ org.hw }}</td>
          <td>{{ org.sw }}</td>
          <td>{{ org.size|filesizeformat }}</td>
          <td>
            <a class="btn btn-default" href="{% url 'org-ecu-dump-download' org.pk %}">Download</a>
            {% if user.is_superuser %}
              <a class="btn btn-default" href="{% url 'org-ecu-dump-modify' org.pk %}">Modify</a>
              <a class="btn btn-warning" href="{% url 'org-ecu-dump-delete' org.pk %}">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <p class="lead">No Original Ecu Dumps found.</p>
      {% endfor %}

    </tbody>

  </table>

{% endblock %}


