{% extends "base.html" %}
{% block main %}

  <ul class="breadcrumb">
    <li class="active">Delete</li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">Please upload an original Ecu dump file</div>
    <div class="panel-body">
      <form  action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <div class="alert alert-danger" role="alert">Are you sure you want to delete this file?</div>
        </div>
        <button type="submit" class="btn btn-default">Delete</button>
      </form>
    </div>
  </div>

{% endblock %}
